<h1 mat-dialog-title>BookShelf Login</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>[Entre em sua estante virtual]</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/4.png" alt="Banner do Login">
    <mat-card-content>
      <form [formGroup]="formularioCadastro" (ngSubmit)="enviarCadastro()">
        <mat-form-field>
          <input type="text" formControlName="email" matInput placeholder="Email">
          <mat-error *ngIf="email?.errors?.['required']">O campo de email não pode estar vazio</mat-error>
          <mat-error *ngIf="email?.errors?.['email']">O formato do email é inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Senha">
          <mat-error *ngIf="password?.errors?.['required']">O campo de senha não pode estar vazio</mat-error>
        </mat-form-field>
        <mat-card-footer>
          <button mat-raised-button color="accent" type="submit">Entrar</button>
          <button mat-button mat-dialog-close >Fechar</button>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>



