<div class="grid-container" >
  <h1 class="mat-h1" *ngIf="usuario$ | async as user">Feed de Notícias: {{ user.displayName }}</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let i of dashItem$ | async; index as index" [colspan]="i.cols" [rowspan]="i.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{i.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
